.g_member ul {
    text-align : inherit; 

    margin : 0 auto; 
    padding : 0; 

    list-style : none; 

    line-height : 24px; 
}

.g_member {
    text-align : center; 
}

.group_banner { 
    text-decoration: none;
    font-family : "Indie Flower", cursive; 
    font-style : normal; 
    font-weight : 400; 
    font-size : large; 

    margin-right : 32px; 


    padding : 0; 
    
}

.special_font {
    font-family : "Indie Flower", cursive; 
}

.body_title {
    text-align : center; 
    font-family :'Times New Roman', Times, serif
}